<h1 style="text-align: center;">
    Welcome to Beacon of Hope!
  </h1>
  <body>
    <p style="text-align: center;">
      Our goal is to provide job and educational opportunities to people in need. We strive to be a beacon of
      hope for returning citizens.
       
    </p>
    <p style="text-align: center;">
      Please visit our <a href="https://www.beaconofhopeba.org/">main page</a> to learn more about the services we provide, the lives we've impacted, recent news,
      FAQs, and how you can be apart of this alliance, as either a company, or an individual.
    </p>
    
  
  </body>
  <footer style="text-align: center;">Beacon of Hope - 2020</footer>