<h1 style="text-align: center;">
    Welcome to Beacon of Hope!
  </h1>
  <body>
  <div>
    <p style="text-align: center;">
      Our goal is to provide job and educational opportunities to people in need. We strive to be a beacon of
      hope for returning citizens.
    </p>
  </div>
  <table>
    <tr>
      <td class="box">
        <div class="buttons" routerLink="./vision">Vision</div>
      </td>
      <td class="box">
        <div class="buttons" routerLink="./mission">Mission</div>
      </td>
      <td class="box">
        <div class="buttons" routerLink="./objectives">Objectives</div>
      </td>
    </tr>
  </table>
  </body>
  <footer>Beacon of Hope - 2020</footer>