<div style="text-align: center;">
  <h1>
    Take a look at our Partner Companies!
  </h1>
  <div style="justify-content: center; display: flex; width: 100%;">
    <input type="text" (keyup) = "filter($event.target.value)" placeholder="Filter">
  </div>
  <br>
  <div style="justify-content: center; display: flex; width: 100%;" >
    <table>
      <tr>
        <th>Company Name</th>
        <th>Phone Number</th>
        <th>Email</th>
      </tr>
      <tr *ngFor = "let c of companiesData">
        <td>{{c.name}}</td>
        <td>{{c.primary_phone}}</td>
        <td>{{c.primary_email}}</td>
      </tr>
    </table>
  </div>
  <br>
  <footer>Beacon of Hope - 2020</footer>
</div>