<h1 style="text-align: center;">
  The Main Objectives of Our Work are:
</h1>
<div class="buttonText" style="justify-content: center; display: flex; width: 100%;">
    <ul>
      <li><b>INSPIRE</b> more companies to provide Second Chance employment<br></li>
      <li><b>RAISE AWARENESS</b> of the need and proven business benefits<br></li>
      <li><b>LEVERAGE ECOSYSTEM</b> of social services and incentives for Second Chance suppot<br></li>
      <li><b>SHARE BEST PRACTICES</b> and resources</li>
    </ul>
  </div>
  <br>
  <footer style="text-align: center;">Beacon of Hope - 2020</footer>