<div class="topnav">
    <div>
      <img src="https://www.beaconofhopeba.org/assets/images/boh-logo.png" alt="beaconofhopeba.org" width="250" height="125">
    </div>
    
    <a class="active" routerLink="./home">Home</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/notifications">Notifications</a>
    <a routerLink="/jobs">Partner Companies</a>
    <a routerLink="/mission">Mission</a>
    <a routerLink="/vision">Vision</a>
    <a routerLink="/objectives">Objectives</a>
    <a routerLink="/contact-us">Contact Us</a>
  </div>
  <router-outlet></router-outlet>

