h1{
    
    color: rgb(0, 0, 120);

}

p {

    color: rgb(0, 0, 0);

}

body {

    background-color: rgb(255, 255, 250);

}

 

.header {

    background-color: rgb(255, 255, 110);

    padding: 10px;

    text-align: center;

}

 

.topnav {

    overflow: hidden;

    background-color: rgb(223, 255, 255);

}

 

.topnav a {

    float: left;

    display: block;

    color: rgb(0,0,0);

    padding: 10px 10px;

    text-decoration: none;

}

 

.topnav a:hover {

    background-color: rgb(220, 220, 255);

    color: rgb(0, 0, 120)

}

 

.content {

    color: rgb(0, 0, 0);

    padding: 10px;

    font-size: 18px;

}

 

.search {

              color: rgb(0, 0, 0);

    padding: 10px;

    font-size: 24px;

    text-orientation: center;

}

 

.footer {

    text-align: center;

    padding: 10px;

    color: rgb(0, 0, 0);

}